.sideBarContainer {
  width: 400px;
  padding: 1rem 1.5rem;
  height: 100vh;
  overflow: auto;
}

.sideBarContainer::-webkit-scrollbar {
  width: 5px;
}

.sideBarContainer::-webkit-scrollbar-thumb {
  background-color: #b0c5c2;
  border-radius: 5px;
}

.sideBarContainer header div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.8rem;
  margin-bottom: 1rem;
}

.userAvatar {
  display: block;
  height: 2.5rem;
  width: 2.5rem;
  object-fit: cover;
  border-radius: 50px;
}

.sideBarContainer header {
  margin-bottom: 1.5rem;
}
