.messageContainer {
  font-size: var(--text-medium-large);
  font-weight: 300;
  width: 400px;
  padding: 0.75em 1.25em;
  margin-top: 1rem;
  box-shadow: rgba(174, 169, 169, 0.16) -2px 3px 7px;

  border-radius: 0.75em 0.75em 0.75em 0;
  background-color: #fff;
}

.own {
  border-radius: 0.75em 0.75em 0 0.75em;
  background-color: #d7f8f4;
  text-align: right;
  /* position: absolute; */
  margin-left: auto;
}
