:root {
  --blue: #1e4ae9;
  --white: #f5fafc;
  --primary-text-color: #09132c;
  --primary-color: #128c7e;

  font-size: 16px;

  --H1: 61px;
  --H2: 48px;
  --H3: 31px;
  --H4: 25px;
  --H5: 20px;
  --H6: 16px;

  --text-large: 20px;
  --text-medium-large: 16px;
  --text-medium: 13px;
  --text-small: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  color: var(--primary-text-color);
}
body {
  background-color: #f5fafc;
}
